openapi: 3.0.0
servers:
  - url: 'https://data.brreg.no/enhetsregisteret/api'
    description: Produksjon
info:
  description: |
    Teknisk beskrivelse av REST-tjenestene i Åpne Data fra Enhetsregisteret - Work in progress
    ---

    ## Ordbok
    ### Enhetsregisteret
    Register over grunndata om juridiske personer og andre enheter. Enhetsregisteret tildeler organisasjonsnummer for entydig identifisering av enheter.

    ### Organisasjonsnummer
    Nisifret nummer som entydig identifiserer enheter i Enhetsregisteret.

    ### Enhet
    Enhet på øverste nivå i registreringsstrukturen i Enhetsregisteret. Eksempelvis enkeltpersonforetak, foreninger, selskap, sameier og andre som er registrert i Enhetsregisteret. Identifiseres med organisasjonsnummer.

    ### Underenhet
    Enhet på laveste nivå i registreringsstrukturen i Enhetsregisteret. En underenhet kan ikke eksistere alene og har alltid knytning til en hovedenhet. Identifiseres med organisasjonsnummer.

    ### Organisasjonsform
    Organisasjonsform er virksomhetens formelle organisering og gir retningslinjer overfor blant annet ansvarsforhold, skatt, revisjonsplikt, rettigheter og plikter.

    ### Næringskode
    [Næringskoder]: https://www.brreg.no/bedrift/naeringskoder/
    [Næringskoder]  på brreg.no

    [Standard for næringsgruppering]: https://www.ssb.no/klass/klassifikasjoner/6
    [Standard for næringsgruppering]
    ---

    ## Versjonering
    Du kan velge major versjon ved å spesifisere HTTP Accept-headeren. Bruk headeren spesifisert i tabellen under. Hvis versjon ikke spesifiseres, vil man få siste versjon.
    <table>
      <thead>
        <tr>
          <th>API</th>
          <th>Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>/</td>
          <td>application/vnd.enhetsregisteret.v1+json</td>
        </tr>
        <tr>
          <td>/organisasjonsformer</td>
          <td>application/vnd.brreg.enhetsregisteret.organisasjonsform.v1+json</td>
        </tr>
      </tbody>
    </table>


    ### Strategi
    Vi skal normalt ikke bryte bakoverkompabiliteten med våre brukere. Likevel kan det være nødvendig i enkelte situasjoner, av for eksempel juridiske årsaker eller vedlikehold, å gjøre endringer som medfører et slikt brudd. Vi vil i dette tilfellet versjonere tjenesten slik at nyeste versjon vil være tilgjengelig sammen med forrige versjon.

    #### Dersom man ikke benytter versjonering i accept header, vil man få siste versjon.

    Eldre versjon vil anses som utdatert/deprecated, og vil på sikt bli tatt bort. Ved behov for denne typen endringer vil vi forsøke å gi bruker god tid, og varsle om endringen i forkant. Se punkt om varsling.

    ### Når innføres ny versjon
    Vi vil innføre en ny versjon når vi introduserer en endring som påvirker bakoverkompabiliteten. Mindre endringer og patcher vil ikke medføre versjonsendring i header.

    ### Når fjernes en versjon
    Vi vil legge ut varsel/driftsmeldinger i god tid på følgende steder:
    - [Driftsmeldinger]: https://www.brreg.no/om-oss/driftsmeldinger/
    [Driftsmeldinger]
    - [RSS-feed]: https://www.brreg.no/produkter-og-tjenester/rss-feed/
    [RSS-feed].

    Eksempel på endring som medfører versjonering:

    - Fjerne eller endre navn på et attributt i HTTP-responsen.

    - Fjerne eller endre navn på et REST endepunkt.

    ---

  version: 1.0.0
  title: Åpne Data fra Enhetsregisteret - API Dokumentasjon
  contact:
    name: Forenkling og Brukerdialog hos Brønnøysundregistrene
    email: opendata@brreg.no
  license:
    name: Norsk lisens for offentlige data (NLOD)
    url: 'https://data.norge.no/nlod/no/'
paths:
  /:
    get:
      operationId: listTjenester
      description: Hent alle tjenester
      responses:
        '200':
          description: Tjenester mot åpne data fra Enhetsregisteret
          content:
            application/json:
              schema:
                type: string
            application/vnd.brreg.enhetsregisteret.v1+json:
              schema:
                type: string
        default:
          description: Udefinert feil
  /enheter:
    parameters:
      - name: size
        in: query
        description: Antall ønskede treff i response. Default verdi er 20. Max dypde (page*size) er 10 000.
        schema:
          type: integer
      - name: page
        in: query
        description: Hvilken side som ønskes av resultatsettet. Default verdi er 0. Max dypde (page*size) er 10 000
        schema:
          type: integer
      - name: navn
        in: query
        description: Filtrer på navn. Sammensatt søk på likhet. Resultat sorteres pr default etter score
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Sorter resultatsett på feltnavn. Merk at navn må sorteres på navn.norwegian
        required: false
        schema:
          type: string
      - name: organisasjonsform
        in: query
        description: Filtrer på organisasjonsformkode. Kommaseparert liste.
        required: false
        schema:
          type: string
      - name: naeringskode
        in: query
        description: Filtrer på næringskode. Valgfritt nivå. Kommaseparert liste.
        required: false
        schema:
          type: string
      - name: kommunenummer
        in: query
        description: Filtrer på kommunenummer 4 siffer.
        required: false
        schema:
          type: string
      - name: overordnetEnhet
        in: query
        description: Organisasjonsnummeret til overordnet enhet
        required: false
        schema:
          type: string
      - name: fraRegistreringsdatoEnhetsregisteret
        in: query
        description: Filtrer på fra registreringsdato i Enhetsregisteret.
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: tilRegistreringsdatoEnhetsregisteret
        in: query
        description: Filtrer på til registreringsdato i Enhetsregisteret.
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: registrertIMvaregisteret
        in: query
        description: Filtrer på om enheten er registrert i Merverdiregisteret
        required: false
        schema:
          type: boolean
      - name: konkurs
        in: query
        description: Filtrer på om enheten er registrert konkurs
        required: false
        schema:
          type: boolean
      - name: fraAntallAnsatte
        in: query
        description: Filtrer på fra antall ansatte
        required: false
        schema:
          type: integer
      - name: tilAntallAnsatte
        in: query
        description: Filtrer på til antall ansatte
        required: false
        schema:
          type: integer
      - name: organisasjonsnummer
        in: query
        description: Organisasjonsnummeret til enhetene.  Kommaseparert liste med organisasjonsnummer.
        required: false
        schema:
          type: string
      - name: registrertIForetaksregisteret
        in: query
        description: Hvorvidt enheten er registrert i Foretaksregisteret
        required: false
        schema:
          type: boolean
      - name: registrertIStiftelsesregisteret
        in: query
        description: Hvorvidt enheten er registrert i Stiftelsesregisteret
        required: false
        schema:
          type: boolean
      - name: registrertIFrivillighetsregisteret
        in: query
        description: Hvorvidt enheten er registrert i Frivillighetsregisteret
        required: false
        schema:
          type: boolean
      - name: frivilligRegistrertIMvaregisteret
        in: query
        description: Frivillig registrert i Merverdiavgiftsregisteret. Kommaseparert liste med beskrivelser.
        required: false
        schema:
          type: string
      - name: underTvangsavviklingEllerTvangsopplosning
        in: query
        description: Hvorvidt enheten er registrert som underTvangsavvikling eller tvangsopplosning
        required: false
        schema:
          type: boolean
      - name: underAvvikling
        in: query
        description: Hvorvidt enheten er registrert som underAvvikling
        required: false
        schema:
          type: boolean
      - name: fraStiftelsesdato
        in: query
        description: Tidligste stiftelsesdato for enheten
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: tilStiftelsesdato
        in: query
        description: Seneste stiftelsesdato hos enheten
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: hjemmeside
        in: query
        description: Enhetens hjemmeside
        required: false
        schema:
          type: string
      - name: institusjonellSektorkode
        in: query
        description: Enhetens institusjonelle sektorkode. Kommaseparert liste med sektorkoder på 4 siffer.
        required: false
        schema:
          type: string
      - name: postadresse.kommunenummer
        in: query
        description: Kommunenummer til enhetens postadresse. Kommaseparert liste med kommunenummer på 4 siffer.
        required: false
        schema:
          type: string
      - name: postadresse.postnummer
        in: query
        description: Postnummeret til enhetens postadresse. Kommaseparert liste med postnummer på 4 siffer.
        required: false
        schema:
          type: string
      - name: postadresse.poststed
        in: query
        description: Poststedet til enhetens postadresse. Fritekst.
        required: false
        schema:
          type: string
      - name: postadresse.landkode
        in: query
        description: Landkode til enhetens postadresse. Kommaseparert liste med landkoder.
        required: false
        schema:
          type: string
      - name: postadresse.adresse
        in: query
        description: Adresse til enhetens postadresse. Kommaseparert liste med adresser.
        required: false
        schema:
          type: string
      - name: forretningsadresse.postnummer
        in: query
        description: Postnummer til enhetens forretningsadresse. Kommaseparert liste med postnummer på 4 siffer.
        required: false
        schema:
          type: string
      - name: forretningsadresse.poststed
        in: query
        description: Poststedet til enhetens forretningsadresse. Fritekst.
        required: false
        schema:
          type: string
      - name: forretningsadresse.landkode
        in: query
        description: Landkode til enhetens forretningsadresse. Kommaseparert liste med landkoder.
        required: false
        schema:
          type: string
      - name: forretningsadresse.adresse
        in: query
        description: Adresse til enhetens forretningsadresse. Kommaseparert liste med adresser.
        required: false
        schema:
          type: string
      - name: sisteInnsendteAarsregnskap
        in: query
        description: Årstall for siste innsendte årsregnskap for enheten. Kommaseparert liste med årstall på 4 siffer
        required: false
        schema:
          type: string
    get:
      operationId: listEnheter
      description: Hent alle enheter
      responses:
        '200':
          description: Enheter fra Enhetsregisteret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_Enheter'
            application/vnd.brreg.enhetsregisteret.enhet.v1+json:
              schema:
                $ref: '#/components/schemas/_Enheter'
        '400':
          description: Ugyldig forespørsel
        default:
          description: Udefinert feil
  '/enheter/{organisasjonsnummer}':
    parameters:
      - name: organisasjonsnummer
        in: path
        description: Organisasjonsnummeret til enheten - 9 siffer
        required: true
        schema:
          type: string
    get:
      operationId: hentEnhet
      description: Hent detaljer om enhet
      responses:
        '200':
          description: Enhet fra Enhetsregisteret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enhet'
            application/vnd.brreg.enhetsregisteret.enhet.v1+json:
              schema:
                $ref: '#/components/schemas/Enhet'
        '404':
          description: Enheten finnes ikke
        '410':
          description: Enheten er fjernet
        default:
          description: Udefinert feil
  /underenheter:
    parameters:
      - name: navn
        in: query
        description: Filtrer på navn. Sammensatt søk på likhet. Resultat sorteres pr default etter score
        required: false
        schema:
          type: string
      - name: organisasjonsnummer
        in: query
        description: Organisasjonsnummeret til underenhetene.  Kommaseparert liste med organisasjonsnummer.
        required: false
        schema:
          type: string
      - name: overordnetEnhet
        in: query
        description: Organisasjonsnummeret til overordnet enhet
        required: false
        schema:
          type: string
      - name: fraAntallAnsatte
        in: query
        description: Filtrer på fra antall ansatte
        required: false
        schema:
          type: integer
      - name: tilAntallAnsatte
        in: query
        description: Filtrer på til antall ansatte
        required: false
        schema:
          type: integer
      - name: registrertIMvaregisteret
        in: query
        description: Filtrer på om enheten er registrert i Merverdiregisteret
        required: false
        schema:
          type: boolean
      - name: fraRegistreringsdatoEnhetsregisteret
        in: query
        description: Filtrer på fra registreringsdato i Enhetsregisteret.
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: tilRegistreringsdatoEnhetsregisteret
        in: query
        description: Filtrer på til registreringsdato i Enhetsregisteret.
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: fraOppstartsdato
        in: query
        description: Tidligste oppstartsdato for enheten
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: tilOppstartsdato
        in: query
        description: Seneste oppstartsdato for enheten
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: fraDatoEierskifte
        in: query
        description: Tidligste registreringsdato for eierskifte
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: tilDatoEierskifte
        in: query
        description: Seneste registreringsdato for eierskifte
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: fraNedleggelsesdato
        in: query
        description: Tidligste nedleggelsesdato for enheten
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: tilNedleggelsesdato
        in: query
        description: Seneste nedleggelsesdato for enheten
        required: false
        schema:
          type: string
          format: date (ISO-8601)
      - name: organisasjonsform
        in: query
        description: Filtrer på organisasjonsformkode. Kommaseparert liste.
        required: false
        schema:
          type: string
      - name: hjemmeside
        in: query
        description: Enhetens hjemmeside
        required: false
        schema:
          type: string
      - name: postadresse.kommunenummer
        in: query
        description: Kommunenummer til enhetens postadresse. Kommaseparert liste med kommunenummer på 4 siffer.
        required: false
        schema:
          type: string
      - name: postadresse.postnummer
        in: query
        description: Postnummeret til enhetens postadresse. Kommaseparert liste med postnummer på 4 siffer.
        required: false
        schema:
          type: string
      - name: postadresse.poststed
        in: query
        description: Poststedet til enhetens postadresse. Fritekst.
        required: false
        schema:
          type: string
      - name: postadresse.landkode
        in: query
        description: Landkode til enhetens postadresse. Kommaseparert liste med landkoder.
        required: false
        schema:
          type: string
      - name: postadresse.adresse
        in: query
        description: Adresse til enhetens postadresse. Kommaseparert liste med adresser.
        required: false
        schema:
          type: string
      - name: kommunenummer
        in: query
        description: Filtrer på kommunenummer 4 siffer.
        required: false
        schema:
          type: string
      - name: beliggenhetsadresse.postnummer
        in: query
        description: Postnummeret til enhetens beliggenhetsadresse. Kommaseparert liste med postnummer på 4 siffer.
        required: false
        schema:
          type: string
      - name: beliggenhetsadresse.poststed
        in: query
        description: Poststedet til enhetens beliggenhetsadresse. Fritekst.
        required: false
        schema:
          type: string
      - name: beliggenhetsadresse.landkode
        in: query
        description: Landkode til enhetens beliggenhetsadresse. Kommaseparert liste med landkoder.
        required: false
        schema:
          type: string
      - name: beliggenhetsadresse.adresse
        in: query
        description: Adresse til enhetens beliggenhetsadresse. Kommaseparert liste med adresser.
        required: false
        schema:
          type: string
      - name: naeringskode
        in: query
        description: Filtrer på næringskode. Valgfritt nivå. Kommaseparert liste.
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Sorter resultatsett på feltnavn. Merk at navn må sorteres på navn.norwegian
        required: false
        schema:
          type: string
      - name: size
        in: query
        description: Antall ønskede treff i response. Default verdi er 20. Max dypde (page*size) er 10 000.
        schema:
          type: integer
      - name: page
        in: query
        description: Hvilken side som ønskes av resultatsettet. Default verdi er 0. Max dypde (page*size) er 10 000
        schema:
          type: integer
    get:
      operationId: listUnderenheter
      description: Hent alle underenheter
      responses:
        '200':
          description: Underenheter fra Enhetsregisteret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_Underenheter'
            application/vnd.brreg.enhetsregisteret.underenhet.v1+json:
              schema:
                $ref: '#/components/schemas/_Underenheter'
        default:
          description: Udefinert feil
  '/underenheter/{organisasjonsnummer}':
    parameters:
      - name: organisasjonsnummer
        in: path
        description: Organisasjonsnummeret til underenheten - 9 siffer
        required: true
        schema:
          type: string
    get:
      operationId: hentUnderenhet
      description: Hent detaljer om underenhet
      responses:
        '200':
          description: Underenhet fra Enhetsregisteret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Underenhet'
            application/vnd.brreg.enhetsregisteret.underenhet.v1+json:
              schema:
                $ref: '#/components/schemas/Underenhet'
        '404':
          description: Underenhet finnes ikke
        '410':
          description: Underenhet er fjernet
        default:
          description: Udefinert feil
  /oppdateringer/enheter:
    parameters:
      - name: dato
        in: query
        description: 'Tidligste tidsstempel for når enheten ble oppdatert. På format Datetime (ISO-8601): yyyy-MM-dd''T''HH:mm:ss.SSS''Z'''
        required: false
        schema:
          type: string
      - name: oppdateringsid
        in: query
        description: Minste oppdateringsid for enhet. Større eller lik 1.
        required: false
        schema:
          type: integer
      - name: organisasjonsnummer
        in: query
        description: Organisasjonsnummeret til enheten. Kommaseparert liste med organisasjonsnummer.
        required: false
        schema:
          type: string
    get:
      operationId: listOppdateringerEnhet
      description: Hent oppdateringer på enheter
      responses:
        '200':
          description: Oppdateringer på enheter fra Enhetsregisteret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enhet'
            application/vnd.brreg.enhetsregisteret.oppdatering.enhet.v1+json:
              schema:
                type: string
        default:
          description: Udefinert feil
  /oppdateringer/underenheter:
    parameters:
      - name: dato
        in: query
        description: 'Tidligste tidsstempel for når enheten ble oppdatert. På format Datetime (ISO-8601): yyyy-MM-dd''T''HH:mm:ss.SSS''Z'''
        required: false
        schema:
          type: string
      - name: oppdateringsid
        in: query
        description: Minste oppdateringsid for enhet. Større eller lik 1.
        required: false
        schema:
          type: integer
      - name: organisasjonsnummer
        in: query
        description: Organisasjonsnummeret til enheten. Kommaseparert liste med organisasjonsnummer.
        required: false
        schema:
          type: string
    get:
      operationId: listOppdateringerUnderenhet
      description: Hent oppdateringer på underenheter
      responses:
        '200':
          description: Oppdateringer på underenheter fra Enhetsregisteret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Enhet'
            application/vnd.brreg.enhetsregisteret.oppdatering.underenhet.v1+json:
              schema:
                type: string
        default:
          description: Udefinert feil
  /organisasjonsformer:
    get:
      operationId: listOrganisasjonsformer
      description: Hent alle organisasjonsformer
      responses:
        '200':
          description: Organisasjonsformer fra Enhetsregisteret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_Organisasjonsformer'
            application/vnd.brreg.enhetsregisteret.organisasjonsform.v1+json:
              schema:
                $ref: '#/components/schemas/_Organisasjonsformer'
        default:
          description: Udefinert feil
  '/organisasjonsformer/{orgformKode}':
    parameters:
      - name: orgformKode
        in: path
        description: Kode for organisasjonsform
        required: true
        schema:
          type: string
        examples:
          AS:
            summary: Organisasjonsformkode for Aksjeselskap
            value: AS
    get:
      operationId: hentOrganisasjonsform
      description: Hent en enkelt organisasjonsform fra kode
      responses:
        '200':
          description: Organisasjonsform fra Enhetsregisteret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisasjonsform'
            application/vnd.brreg.enhetsregisteret.organisasjonsform.v1+json:
              schema:
                $ref: '#/components/schemas/Organisasjonsform'
        '404':
          description: Organisasjonsformen eksisterer ikke
        default:
          description: Udefinert feil
  /organisasjonsformer/enheter:
    get:
      operationId: listOrganisasjonsformerEnheter
      description: Hent organisasjonsformer for enheter
      responses:
        '200':
          description: Liste over mulige organisasjonsformer for enheter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_Organisasjonsformer'
            application/vnd.brreg.enhetsregisteret.organisasjonsform.v1+json:
              schema:
                $ref: '#/components/schemas/_Organisasjonsformer'
        default:
          description: Udefinert feil
  /organisasjonsformer/underenheter:
    get:
      operationId: listOrganisasjonsformerUnderenheter
      description: Hent organisasjonsformer for underenheter
      responses:
        '200':
          description: Liste over mulige organisasjonsformer for underenheter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_Organisasjonsformer'
            application/vnd.brreg.enhetsregisteret.organisasjonsform.v1+json:
              schema:
                $ref: '#/components/schemas/_Organisasjonsformer'
        default:
          description: Udefinert feil
components:
  schemas:
    Underenhet:
      properties:
        organisasjonsnummer:
          type: string
        navn:
          type: string
        organisasjonsform:
          $ref: '#/components/schemas/Organisasjonsform'
        postadresse:
          $ref: '#/components/schemas/Adresse'
        registreringsdatoEnhetsregisteret:
          type: string
        registrertIMvaregisteret:
          type: boolean
        naeringskode1:
          $ref: '#/components/schemas/Naeringskode'
        naeringskode2:
          $ref: '#/components/schemas/Naeringskode'
        naeringskode3:
          $ref: '#/components/schemas/Naeringskode'
        antallAnsatte:
          type: integer
        overordnetEnhet:
          type: string
        oppstartsdato:
          type: string
        beliggenhetsadresse:
          $ref: '#/components/schemas/Adresse'
        _links:
          $ref: '#/components/schemas/_Links'
    Enhet:
      properties:
        organisasjonsnummer:
          type: string
        navn:
          type: string
        organisasjonsform:
          $ref: '#/components/schemas/Organisasjonsform'
        hjemmeside:
          type: string
        postadresse:
          $ref: '#/components/schemas/Adresse'
        registreringsdatoEnhetsregisteret:
          type: string
        registrertIMvaregisteret:
          type: boolean
        frivilligMvaRegistrertBeskrivelser:
          type: array
          items: 
            type: string
        naeringskode1:
          $ref: '#/components/schemas/Naeringskode'
        naeringskode2:
          $ref: '#/components/schemas/Naeringskode'
        naeringskode3:
          $ref: '#/components/schemas/Naeringskode'
        antallAnsatte:
          type: integer
        forretningsadresse:
          $ref: '#/components/schemas/Adresse'
        stiftelsedato:
          type: string
        institusjonellSektorkode:
          $ref: '#/components/schemas/Sektorkode'
        registrertIForetaksregisteret:
          type: boolean
        registrertIStiftelsesregisteret:
          type: boolean
        registrertIFrivillighetsregisteret:
          type: boolean
        sisteInnsendteAarsregnskap:
          type: string
        konkurs:
          type: boolean
        underAvvikling:
          type: boolean
        underTvangsavviklingEllerTvangsopplosning:
          type: boolean
        maalform:
          type: string
        _links:
          $ref: '#/components/schemas/_Links'
    Adresse:
      properties:
        land:
          type: string
        landkode:
          type: string
        postnummer:
          type: string
        poststed:
          type: string
        adresse:
          type: array
          items: 
            type: string
        kommune:
          type: string
        kommunenummer:
          type: string
    Naeringskode:
      properties:
        kode:
          type: string
        beskrivelse:
          type: string
    Sektorkode:
      properties:
        kode:
          type: string
        beskrivelse:
          type: string
    _Enheter:
      properties:
        embedded:
          $ref: '#/components/schemas/Enheter'
    Enheter:
      properties:
        enheter:
          type: array
          items:
            $ref: '#/components/schemas/Enhet'
    _Underenheter:
      properties:
        embedded:
          $ref: '#/components/schemas/Underenheter'
    Underenheter:
      properties:
        enheter:
          type: array
          items:
            $ref: '#/components/schemas/Underenhet'
    _Organisasjonsformer:
      properties:
        embedded:
          $ref: '#/components/schemas/Organisasjonsformer'
    Organisasjonsformer:
      properties:
        organisasjonsformer:
          type: array
          items:
            $ref: '#/components/schemas/Organisasjonsform'
    Organisasjonsform:
      properties:
        kode:
          type: string
        beskrivelse:
          type: string
        _links:
          $ref: '#/components/schemas/Self'
    Self:
      properties:
        self:
          $ref: '#/components/schemas/Href'
    _Links:
      properties:
        self:
          $ref: '#/components/schemas/Href'
        overordnetEnhet:
          $ref: '#/components/schemas/Href'
    Href:
      properties:
        href:
          type: string
