openapi: "3.0.3"
servers:
  - url: https://rrh.brreg.no
    description: Produksjon
  - url: https://rrh.ppe.brreg.no
    description: Testmiljø

info:
  title: Åpent API for Register over reelle rettighetshavere - API dokumentasjon
  description: Teknisk beskrivelse av REST-tjenestene i Åpent API for Register over reelle rettighetshavere
  version: "0.4"
  contact:
    email: opendata.rrh@brreg.no
  license:
    name: Norsk lisens for offentlige data (NLOD)
    url: https://data.norge.no/nlod/no/
externalDocs:
  description: Github-dokumentasjon med detaljert beskrivelse av APIet
  url: https://brreg.github.io/docs/apidokumentasjon/reelle-rettighetshavere/aapent-api/

paths:
  /api/aapen/reelle-rettigheter/{organisasjonsnummer}:
    summary: Hent ut reell rettighet basert på organisasjonsnummer for registreringspliktig virksomhet
    description: Hent ut reell rettighet basert på organisasjonsnummer for registreringspliktig virksomhet
    get:
      tags:
        - reelle rettigheter
      summary: Hent ut reell rettighet basert på organisasjonsnummer for registreringspliktig virksomhet
      description: Hent ut reell rettighet basert på organisasjonsnummer for registreringspliktig virksomhet
      operationId: hentReellRettighet
      parameters:
        - name: organisasjonsnummer
          in: path
          description: Organisasjonsnummer til den registreringspliktige virksomheten
          required: true
          schema:
            $ref: '#/components/schemas/Organisasjonsnummer'
      responses:
        '200':
          $ref: '#/components/responses/200'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'

components:
  schemas:
    ReellRettighet:
      type: object
      properties:
        registreringId:
          type: string
          example: 'd3877b48-a4fb-4949-86e1-be4645771147'
        registreringStatus:
          $ref: '#/components/schemas/RegistreringStatus'
        registrertDato:
          $ref: '#/components/schemas/DatoKlokkeslett'
        reelleRettighetshavereStatus:
          $ref: '#/components/schemas/ReelleRettighetshavereStatus'
        registreringspliktigVirksomhet:
          $ref: '#/components/schemas/Virksomhet'
        reelleRettighetshavere:
          type: array
          items:
            $ref: '#/components/schemas/ReellRettighetshaver'
    RegistreringStatus:
      type: object
      properties:
        kode:
          type: string
          example: registreringstatus.regi
        kodetekst:
          type: string
          example: Registrert
    DatoKlokkeslett:
      type: string
      example: '2022-02-14T09:13:45.12Z'
    ReelleRettighetshavereStatus:
      type: object
      properties:
        kode:
          type: string
          example: reellerettighetshaverestatus.nrki
        kodetekst:
          type: string
          example: Noen reelle rettighetshavere kan ikke identifiseres
    Organisasjonsnummer:
      type: string
      example: 974760673
    Virksomhet:
      type: object
      properties:
        organisasjonsnummer:
          $ref: '#/components/schemas/Organisasjonsnummer'
    ReellRettighetshaver:
      type: object
      properties:
        folkeregistrertPerson:
          $ref: '#/components/schemas/Person'
        utenlandskPerson:
          $ref: '#/components/schemas/UtenlandskPerson'
        bostedsland:
          $ref: '#/components/schemas/Landkode'
        erUnntattFraInnsyn:
          type: boolean
          example: false
        posisjoner:
          type: array
          items:
            $ref: '#/components/schemas/Posisjon'
        foerstRegistrertDato:
          $ref: '#/components/schemas/DatoKlokkeslett'
        endretDato:
          $ref: '#/components/schemas/DatoKlokkeslett'
    UtenlandskPerson:
      type: object
      properties:
        foedselsdato:
          type: string
          example: '1999-03-12'
        foedselsaar:
          type: string
          example: '1999'
        fulltNavn:
          type: string
          example: 'PUSSIG LAV DAL JORDBÆR'
        statsborgerskap:
          type: array
          items:
            $ref: '#/components/schemas/Landkode'
    Person:
      type: object
      properties:
        foedselsdato:
          type: string
          example: '1985-12-25'
        foedselsaar:
          type: string
          example: '1985'
        navn:
          $ref: '#/components/schemas/Personnavn'
        erDoed:
          type: boolean
          example: false
        statsborgerskap:
          type: array
          items:
            $ref: '#/components/schemas/Landkode'
    Landkode:
      type: object
      properties:
        landkode:
          type: string
          example: 'NOR'
        land:
          type: string
          example: 'Norge'
    Personnavn:
      type: object
      properties:
        fornavn:
          type: string
          example: 'PUSSIG LAV'
        mellomnavn:
          type: string
          example: 'DAL'
        etternavn:
          type: string
          example: 'JORDBÆR'
    Posisjon:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PosisjonType'
        stoerrelseIntervall:
          $ref: '#/components/schemas/StoerrelseIntervall'
        grunnlag:
          type: array
          items:
            $ref: '#/components/schemas/GrunnlagType'
        beskrivelseAnnenMaate:
          type: string
          example: Fritekst som beskriver hvordan rettighetshaveren har kontroll i virksomheten
    PosisjonType:
      type: object
      properties:
        kode:
          type: string
          example: posisjontype.eier
        kodetekst:
          type: string
          example: Eierskap
    StoerrelseIntervall:
      type: object
      properties:
        kode:
          type: string
          example: stoerrelseintervall.int1
        kodetekst:
          type: string
          example: 25,01% - 49,99%
    GrunnlagType:
      type: object
      properties:
        kode:
          type: string
          example: grunnlagtype.dire
        kodetekst:
          type: string
          example: Direkte
    ServerErrorResponse:
      type: object
      properties:
        timestamp:
          $ref: '#/components/schemas/DatoKlokkeslett'
        status:
          type: integer
          example: 500
        error:
          type: string
          example: Internal Server Error
        message:
          type: string
          example: Houston we have a problem!
        path:
          type: string
          example: /api/aapen/reelle-rettigheter/974760673
        trace:
          type: string
          example: 5631709a-6e3e-4b72-94e7-fcbf6341272a

  responses:
    200:
      description: Hent ut reell rettighet basert på organisasjonsnummer for registreringspliktig virksomhet
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReellRettighet'
        application/vnd.brreg.reell.rettighet.v1+json;charset=UTF-8:
          schema:
            $ref: '#/components/schemas/ReellRettighet'
    400:
      description: Feilaktig forespørsel, grunnet organisasjonsnummer med ugyldige tegn eller lengde
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServerErrorResponse'
          examples:
            BadRequestResponse:
              $ref: '#/components/examples/BadRequestResponse'
    404:
      description: Virksomheten er ikke registreringspliktig i register over reelle rettighetshavere
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServerErrorResponse'
          examples:
            NotFoundResponse:
              $ref: '#/components/examples/NotFoundResponse'
    500:
      description: Uventet feil på tjenesten
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServerErrorResponse'
          examples:
            InternalServerErrorResponse:
              $ref: '#/components/examples/InternalServerErrorResponse'

  examples:
    BadRequestResponse:
      summary: 400 Ugyldig organisasjonsnummer
      value:
        type: Ugyldig respons
        status: 400
        error: Bad Request
        message: Organisasjonsnummer må være et nummer med nøyaktig ni siffer
        path: /api/aapen/reelle-rettigheter/974760
        timestamp: '2022-02-14T09:13:45.12Z'
    NotFoundResponse:
      summary: 404 Ikke funnet
      value:
        type: Ikke funnet
        status: 404
        error: Not Found
        message: Virksomheten er ikke registreringspliktig i register over reelle rettighetshavere
        path: /api/aapen/reelle-rettigheter/974760673
        timestamp: '2022-02-14T09:13:45.12Z'
    InternalServerErrorResponse:
      summary: 500 Intern feil
      value:
        type: Intern feil
        status: 500
        error: Internal Server Error
        message: Uventet feil på tjenesten. Vennligst prøv igjen senere, eller kontakt oss om problemet vedvarer
        path: /api/aapen/reelle-rettigheter/974760673
        timestamp: '2022-02-14T09:13:45.12Z'
